/* 
    Document   : base
    Created on : 26-sep-2012, 13:27:23
    Author     : Gert Vrebos <gert.vrebos at tactics.be>
    Description:
        Generic form styles
        Only simple and generic stuff goes here
*/

/* Date / Time types */

input.datepicker,
div.tactics_datetime div input:not([type="time"])
{
    width: 67px;
}

input.timepicker,
div.tactics_datetime input[type="time"]
{
    width: 35px;
}

div.input-append [class^="icon-"],
div.input-append [class*=" icon-"] {
    height: auto !important;
}

.btn.ui-timepicker-trigger,
.btn.ui-datepicker-trigger
{
    padding: 4px 6px;
    height: 24px;
}

/* Chosen */

.chzn-container-multi.large .chzn-choices li { 
    float: none;    
}

.chzn-container-multi.large .chzn-choices .search-choice {
    margin: 3px 5px 3px 5px;
}

