{% block form_errors %}
    {% if errors|length > 0 %}
        {% if not form.parent %}
            <div class="alert alert-danger">
                {{ 'form.errors'|trans({}, "TacticsFormBundle") }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% else %}
            <span class="help-block">
        {% endif %}
        {% if errors|length > 1 %}<ul>{% endif %}
        {% for error in errors %}
            {% if errors|length > 1 %}<li>{% endif %}
            {{ error.message }}
            {% if errors|length > 1 %}</li>{% endif %}
        {% endfor %}
        {% if errors|length > 1 %}</ul>{% endif %}
        {% if not form.parent %}</div>{% else %}</span>{% endif %}
    {% endif %}
{% endblock form_errors %}