{% block widget_addon %}
    {% spaceless %}
        <span class="input-group-addon">
            {% if widget_addon.text is defined %}
                {{ widget_addon.text|trans({}, translation_domain)  }}
            {% endif %}
        </span>
    {% endspaceless %}
{% endblock widget_addon %}